/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


 
.larger-icon {
	font-size: 1.1rem;
	/* or 24px, 3em, etc. */
 }

 .zl-pink {
	color: #ed008c;
 }

 .full-width {
	width: 100%;
}